body{
    background-image: url(img/features-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    padding-bottom: 1rem;
    color: white;
    font-size: 48px;
    margin-top: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container{
    flex-direction: column; 
    align-items: center; 
}

.card{
    height: 100%;
    width: 100%;
    max-width: 90%;
    margin: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    flex-direction: column; 
    align-items: center;
}

.container img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.intro{
    height: 70px;
    width: 100%;
    bottom: 0px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(253, 163, 45, 0.5);
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.intro h2{
    font-size: 20px;
    margin: 10px;
}

.intro p{
    font-size: 15px;
    margin: 10px;
    visibility: hidden;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro {
    height: 120px;
    bottom: 0px;
    background: hsl(34, 98%, 58%);
    transition: 0.5s;
}

.card:hover .intro p {
    visibility: visible;
    opacity: 1;
}

footer {
    position: fixed;
    bottom: 0;
}